<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME}\.php !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^\/public/css/(.*).css
    RewriteCond %{REQUEST_URI} !^\/public/img/(.*).png
    RewriteCond %{REQUEST_URI} !^\/public/img/(.*).jpg
    RewriteCond %{REQUEST_URI} !^\/public/img/svg/(.*).svg
    RewriteCond %{REQUEST_URI} !^\/public/js/(.*).js
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>