:root {
    /*backgrounds*/
    --main-bg-color: #f4f4f4;
    --body-bg-color: #e1e0e1;
    --footer-bg-color: #5d5d5d;
    --btn-bg-color: #5d5d5d;
    --btn-bg-active: #7e7d7d;
    /*fonts*/
    --main-text-color: #c4c4d5;
    --main-text-light-color: #2c2c2c;
    --button-text-color: #dedee1;
    --footer-text-color: #d5d3d3;
    --bold-font-family: "Ubuntu Bold";
    --regular-font-family: "Ubuntu Regular";
    --italic-font-family: "Ubuntu Italic";
    --light-font-family: "Ubuntu Light";
    --light-italic-font-family: "Ubuntu Light Italic";
}