body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    min-height: 100vh;
    background-color: var(--body-bg-color);
}

main {
    background-color: var(--main-bg-color);
    font-family: var(--regular-font-family);
    color: var(--main-text-color);
    min-height: 100vh;
    height: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: space-around;
    background-color: var(--footer-bg-color);
    font-family: var(--light-font-family);
    color: var(--footer-text-color);
}

.container {
    width: 95%;
    margin: 0 auto;
}

.container-tiny {
    width: 60%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.absolute-center {
    width: 55%;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.popup-win {
    border-radius: 10px;
    background: var(--popup-bg-color);
}

.popup-win .cross {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: var(--btn-bg-cross);
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}